.row
  .col-xs-12
    = Time.now.strftime("%^a")
.row.text-center
  .col-xs-12
    %div
      = link_to icon('calendar-o', class: "fa-5x"), "#"
      .calendar
        = Time.now.day
.row.text-center
  - counter = 0
  - 6.times do
    - counter += 1
    .col-xs-4
      %div
        = link_to icon('calendar-o', class: "fa-5x"), "#"
        .calendar
          = Time.now.day - counter
