%h4.text-center #{@chain.name}
%h3.text-center Current Chain: #{@chain.current_chain} links
.row.text-center
  .col-xs-12
    - today = Time.now
    - today_string = today.strftime("%Y/%m/%d")
    - link = @chain.links.find_by(link_day: today_string)
    .calendar
      - unless link.present?
        = link_to icon('calendar-o', class: "fa-5x"), links_path(user: @user.id, chain: @chain.id, time: today_string), method: :post
      - else
        = link_to icon('calendar-o', class: "fa-5x"), link_path(link), method: :delete
      .weekday
        = today.strftime("%^a")
      .day
        = today.day
      - if link.present?
        .chain
          = icon('times', class: "fa-5x")
.row.text-center
  - counter = 0
  - 6.times do
    - counter += 86400
    - this_day = (Time.now - counter)
    - this_day_string = this_day.strftime("%Y/%m/%d")
    - link = @chain.links.find_by(link_day: this_day_string)
    .col-xs-4
      .calendar
        - unless link.present?
          = link_to icon('calendar-o', class: "fa-5x"), links_path(user: @user.id, chain: @chain.id, time: this_day_string), method: :post
        - else
          = link_to icon('calendar-o', class: "fa-5x"), link_path(link), method: :delete
        .weekday
          = (Time.now - counter).strftime("%^a")
        .day
          = (Time.now - counter).day
        - if link.present?
          .chain
            = icon('times', class: "fa-5x")

%p.text-center Your longest chain was #{@chain.longest_chain} links
